<h1>OAuthBasics.Client Home</h1>

<a href="/home/secret">Secret Page</a>
<br />
<a href="/home/callSecretApi">Call Secret Api</a>
<br/>

<form method="post" action="/home/authenticate">
    <input type="submit" value="Authenticate"/>
</form>