@using Microsoft.AspNetCore.Authentication
@using Microsoft.AspNetCore.Http
<h1>OAuthBasics.Client Secret Page</h1>

<p>
    <a href="/home/callSecretApi">Call Secret Api</a>
</p>

<h2>Your Access Token</h2>
<p>
    @* SET oauthOptions.SaveTokens to TRUE. Otherwise it will be null. *@
    @await Context.GetTokenAsync("access_token")
</p>

<h2>Your Claims</h2>
<ul>
    @foreach (var claim in Context.User.Claims.ToArray())
    {
        <li>@claim.Type - @claim.Value</li>
    }
</ul>

